@charset "UTF-8";
/* Подключение глобальных стилей */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  max-width: 1154px;
}

body {
  background-color: #4C3D74;
}

.button {
  display: inline-block;
  width: 245px;
  font-weight: 700;
  border-radius: 30px;
  padding: 20px 67px;
}
.button__light {
  background: #A387C4;
}
.button__dark {
  border: 3px solid #A387C4;
}

/* Подключение header */
.main-nav {
  margin-top: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav__list {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.main-nav__item:not(:last-child) {
  padding-right: 40px;
}

/* Подключение promo */
.promo {
  margin-bottom: 182px;
}
.promo__wrapper {
  position: relative;
}
.promo__glow {
  position: absolute;
  right: -380px;
  top: -350px;
  z-index: -1;
}
.promo__sticker {
  position: absolute;
  top: -85px;
  right: -70px;
}
.promo__title {
  margin: 106px 0 23px 0;
  font-weight: 700;
  font-size: 20px;
}
.promo__title-second {
  font-weight: 700;
  font-size: 50px;
  max-width: 760px;
  margin-bottom: 47px;
}
.promo__descr {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 44px;
}
.promo__btn {
  margin-right: 26px;
}

/* Подключение intensive */
.intensive {
  padding-top: 167px;
  padding-bottom: 182px;
  background: #fff;
  color: #4C3D74;
}
.intensive__descr {
  color: #504178;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin-bottom: 55px;
}
.intensive__list {
  display: flex;
  justify-content: space-between;
}
.intensive__icon {
  position: absolute;
  top: 15px;
  left: -45px;
}
.intensive__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #F2EEF7;
  border: 3px solid #4C3D74;
  border-radius: 30px;
  width: 341px;
  height: 138px;
}
.intensive__item--text {
  max-width: 236px;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #4C3D74;
}
.intensive__item--text span {
  font-weight: 700;
  color: #4C3D74;
  font-style: normal;
}
.intensive__comment {
  color: #4C3D74;
  width: 450px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-right: 95px;
}
.intensive__btn {
  display: block;
}
.intensive__inner {
  margin-top: 43px;
  display: flex;
  align-items: center;
}
.intensive__wrapper {
  position: relative;
}
.intensive__sticker {
  position: absolute;
  width: 243px;
  height: 243px;
  bottom: -182px;
  right: 0;
}

/* Подключение waiting */
.waiting {
  margin: 168px 0 146px;
}
.waiting__title {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 47px;
}
.waiting__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.waiting__item {
  position: relative;
  width: 382px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.waiting__text {
  max-width: 276px;
  font-style: italic;
}
.waiting__text span {
  font-weight: 700;
}
.waiting__icon {
  position: absolute;
  left: -25px;
  top: -15px;
}