*
    font-family: 'Roboto', sans-serif
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    text-decoration: none
    color: #fff
    text-transform: uppercase
    
.container
    margin: 0 auto
    max-width: 1154px
body
    background-color: #4C3D74

.button
    display: inline-block
    width: 245px
    font-weight: 700
    border-radius: 30px
    padding: 20px 67px
    &__light
        background: #A387C4
    &__dark
        border: 3px solid #A387C4
.main-nav
    position: relative
.hamburger
    position: absolute
    right: 0
    display: none
    background: none
    border: none
    cursor: pointer
    span
        display: block
        width: 40px
        height: 2px
        background-color: #fff
        &:not(:last-child)
            margin-bottom: 8px
    &--active
        z-index: 15
        top: -63px
        right: -13px
        span
            margin-bottom: -5px
            &:nth-child(1)
                transform: translateY(12px) rotate(-45deg)
            &:nth-child(2)
                display: none
            &:nth-child(3)
                transform: translateY(1px) rotate(45deg)